/*重置样式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {margin: 0;padding: 0;}
body {font-size: 12px; color: #999;}
img {border: none;}
ol,ul,li {list-style: none;}
input,select,textarea {outline: none;border: none;}
textarea {resize: none;}
a {text-decoration: none;color: #999;}
em {font-style: normal;}

.clearfix {zoom: 1;}
.clearfix:after {display: block;clear: both;content: "";}
.fl {float: left;}
.fr {float: right;}

body,button,input,select,textarea {
	font: 12px/1.5 arial;
}
.hide {
	display: none;
}
.show {
	display: block;
}
/*@group general styles 一般性样式-----------------------------*/
#sn-content a:hover,#sn-content .sn-quick-menu .sn-cart a:hover .cart-count {
	color: #c40000;
}
.sn-mytaobao #mytaobao-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-favorite #favorite-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-seller #seller-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-menu:hover {
	background: #fff;
	height: 33px;
}
#header-search .hot-query a:hover {
	color: #c40000;
}
.sn-mytaobao .sn-menu:hover .menu-cm,.sn-favorite .sn-menu:hover .menu-cm,.sn-seller .sn-menu:hover .menu-cm {
	display: block;
}
.sn-sitemap .sn-menu:hover #sitemap {
	display: block;
}

.sn-mobile:hover .sn-qrcode {
	display: block;
}
#sitemap .sitemap-icon {
	position: absolute;
	top: -7px;
	right: -9px;
	width: 9px;
	height: 11px;
	overflow: hidden;
	background: url(../../img/tmall/icon/icon2.png) no-repeat -9999px -9999px;
}
#sitemap .sitemap-icon-new {
	background-position: -37px -11px;
}
#sitemap .sitemap-icon-hot {
	background-position: -37px 0;
}
/*辅助样式：当浏览器页面宽度缩小到1260px以下时---------------------------*/
/*
#sn-wraper { width: 982px; left: 0; }
#header-search { width: 410px; }
#mq { width: 276px; }
.header-wraper { width: 990px; left: 0; }

*/
body {
	min-width: 982px; /*990*/
}
.contentwraper {
	width: 1230px;
	margin: 0 auto;
	padding-right: 30px;
	position: relative;
	overflow: hidden;
}

/*@group page structure 页面结构-----------------------------*/
/*顶部导航*/
#site-nav {
	font-family: "Microsoft YaHei",arial,sans-serif;
	height: 32px;
	min-width: 982px; /*990*/
	width: auto;
	background: #f2f2f2;
	color: #999;
	border-bottom: 1px solid #e5e5e5;
}
#sn-wraper {
	width: 1230px;
	height: 32px;
	margin: 0 auto;
	/*background: lightgreen;*/
	position: relative;
	left: -15px;
}
#sn-content {
	width: 100%;
	height: 32px;
}
#sn-content .sn-login-info {
	height: 32px;
	width: 218px;
	line-height: 32px;
	position: relative;
}
#sn-content .sn-login-info em {
	float: left;
}
#sn-content .sn-login-info .sn-login {
	padding: 0 10px 0 20px;
	float: left;
}
#sn-content .sn-login-info .sn-register {
	padding: 0 10px;
	float: left;
}
#sn-content .sn-quick-menu {
	width: 696px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: 0;
	right: 0;
}
#sn-content .sn-quick-menu li {
	float: left;
}
#sn-content .sn-quick-menu .menu-mt {
	padding: 0 14px 0 10px;
	display: inline-block;
	height: 32px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	/*position: relative;*/
}
#sn-content .sn-quick-menu .menu-mt b {
	position: absolute;
	top: 15px;
	right: 6px;
	font-size: 0;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #bbb;
}
#sn-content .sn-quick-menu a.menu-mt:hover  {
	text-decoration: underline;
}
#sn-content .sn-quick-menu .sn-separator {
	width: 0;
	height: 14px;
	line-height: 14px;
	border-left: 1px solid #ccc;
	margin: 9px 2px 0 5px;
}
.sn-quick-menu .sn-mybrand,.sn-quick-menu .sn-cart,.sn-quick-menu .sn-mobile,.sn-quick-menu .sn-home,.sn-quick-menu .sn-b {
	padding: 0 10px;
}
#sn-content .sn-quick-menu .sn-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 32px;
	margin-right: 4px;
	position: relative;
	top: 1px;
}
.mybrand-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 0;
}
.cart-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -12px;
}
.mobile-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -24px;
}
.sitemap-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -36px;
}
#sn-content .sn-quick-menu .sn-sitemap h3 {
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
#sn-content .sn-quick-menu .sn-cart .cart-count {
	color: #666;
	padding: 0 2px;
	font-weight: 700;
	font-family: Arial;
}
#sn-content .sn-quick-menu .menu-cm {
	padding: 8px 10px;
	background: #fff;
	z-index: 2;
}
#sn-content .sn-quick-menu .sn-menu {
	position: relative;
}
.sn-mytaobao .menu-cm,.sn-favorite .menu-cm{
	position: absolute;
	border: 1px solid #eee;
	border-top: none; 
	top: 33px;
	left: 0;
	display: none;
}
.sn-seller .menu-cm {
	position: absolute;
	border: 1px solid #eee;
	border-top: none; 
	display: none;
	top: 33px;
	left: -64px;
}
.sn-mytaobao #mytaobao-cm a,.sn-favorite #favorite-cm a {
	color: #666;
	display: block;
	height: 20px;
	line-height: 20px;
}
.sn-mytaobao #mytaobao-cm a {
	width: 74px;
}
.sn-favorite #favorite-cm a {
	width: 62px;
}
.sn-seller .menu-cm a {
	display: block;
	width: 48px;
	margin-right: 20px;
	float: left;
	color: #666;
	line-height: 22px;
}
#seller-cm {
	margin-top: -5px;
}
.sn-seller .menu-cm dl {
	width: 136px;
	border-bottom: 1px dotted #827777;
	padding: 5px 0;
}
.sn-seller .menu-cm #seller-cm {
	width: 116px;
	overflow: hidden;
}
.sn-seller .menu-cm dt {
	color: #666;
	font-weight: 700;
	line-height: 1.4;
}
#sitemap {
	position: absolute;
	width: 1198px;
	padding: 25px 0;
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	top: 33px;
	right: 0;
	left: auto;
	display: none;
	z-index: 5;
}
#sitemap .site-hot {
	width: 275px;
	float: left;
}
#sitemap .site-market {
	width: 375px;
	float: left;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
#sitemap .site-brand {
	width: 270px;
	float: left;
	border-right: 1px solid #f5f5f5;
}
#sitemap .site-help,#sitemap .site-hot,#sitemap .site-market,#sitemap .site-brand {
	padding-left: 30px;
	overflow: hidden;
	height: 200px;
	line-height: 1.4;
	font-size: 12px;
}
#sitemap h2 {
	font-size: 16px;
	padding-bottom: 8px;
	font-weight: 500;
}
#sitemap h2 span {
	padding-left: 6px;
}
#sitemap .site-list {
	margin-right: -20px;
	overflow: hidden;

}
#sitemap .site-list li {
	width: 95px;
	float: left;
	padding: 6px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
}
#sitemap .site-list a {
	color: #666;
	position: relative;
}
#sitemap .site-hot h2 {
	color: #f56a00;
}
#sitemap .site-hot a:hover {
	color: #f56a00;
	text-decoration: underline;
}
#sitemap .site-market h2 {
	color: #2263d4;
}
#sitemap .site-market a:hover {
	color: #2263d4;
	text-decoration: underline;
}
#sitemap .site-brand h2,#sitemap .site-help h2 {
	color: #666;
}
#sitemap .site-brand a:hover,#sitemap .site-help a:hover {
	text-decoration: underline;
}
.sn-mobile {
	position: relative;
}
.sn-mobile .sn-qrcode {
	position: absolute;
	width: 175px;
	height: 227px;
	background: #fff;
	left: -48px;
	top: 26px;
	box-shadow: 0 0 5px #aaa;
	display: none;
	z-index: 2;
}
.sn-mobile .sn-qrcode-content {
	width: 175px;
	height: 175px;
	margin: 5px 0 0 0;
	background: url(../../img/tmall/icon/nav-mobile-1.png) 0 0 no-repeat;
}
.sn-mobile .sn-qrcode p {
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 15px;
	line-height: 35px;
	background: url(../../img/tmall/icon/nav-mobile-2.png) center bottom no-repeat;
}
.sn-mobile .sn-qrcode b {
	width: 0;
	height: 0;
	content: "";
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 4px solid #fff;
	position: absolute;
	top: -4px;
	left: 85px;
}
/*顶部导航End*/
/*头部*/
#header {
	height: 130px;
	width: 100%;
	min-width: 982px; /*990*/
	background-color: #fff;
}
#header .header-wraper {
	width: 1230px;
	height: 130px;
	margin: 0 auto;
	position: relative;
	left: -15px;
}
#header #header-logo {
	width: 200px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
}
#header #header-logo img {
	position: relative;
	left: -45px;
}
#header #header-search {
	width: 625px;
	height: 64px;
	padding-top: 38px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 15px;
	overflow: hidden;
}
#header #header-search .mallSearch-form {
	position: relative;
	border: 2px solid #c40000;
	border-right: none;
}
#header-search .mallSearch-form fieldset {
	border: 0;
}
.mallSearch-form fieldset legend {
	display: none;
}
.mallSearch-form fieldset .combobox-input {
	height: 36px;
	width: 491px;
	font: 16px/22px arial;
	color: #000;
	padding: 5px 3px 5px 5px;
	box-sizing: border-box;
}
.mallSearch-form fieldset .combobox {
	position: relative;
	float: left;
}
.mallSearch-form fieldset .combobox-placeholder {
	color: #666;
	font-size: 14px;
	line-height: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 8px;
	cursor: text;
}
.mallSearch-form fieldset button {
	width: 132px;
	height: 36px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: 0;
	color: #fff;
	background-color: #c40000;
	overflow: hidden;
	font-family: "Microsoft YaHei",微软雅黑;
}
#header-search .hot-query {
	height: 18px;
	font-size: 14px;
	padding: 4px 0 0 0;
	overflow: hidden;
	width: 100%;
	margin-left: -13px;
}
#header-search .hot-query li {
	display: inline-block;
	height: 15px;
	float: left;
	margin-top: 4px;
	border-left: 1px solid #ccc;
	line-height: 1.1;
	padding: 0 12px;
	color: #ccc;
}
#header-search .hot-query .hot-query-highlight a {
	color: #c40000;
}
/*头部End*/
/*主导航*/
#main-nav {
	height: 36px;
	width: 100%;
	min-width: 982px; /*990*/
	position: relative;
	background-color: #dd2727;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	/*overflow: hidden;*/
}
#main-nav-wraper {
	width: 1230px;
	height: 36px;
	padding-right: 30px;
	margin: 0 auto;
}
#main-nav-cont {
	margin-left: 215px;	
}
#main-nav-cont a {
	height: 36px;
	padding: 0 15px;
	cursor: pointer;
	font-size: 16px;
	float: left;
	color: #fff;
	position: relative;
}
#main-nav-cont a img {
	width: 90px;
	height: 36px;
	display: block;
}
.main-nav-hover {
	background: url(../../img/tmall/main-nav-hover.png) no-repeat;
	background-size: 40px 15px;
	width: 40px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	opacity: 0;
}
/*banner*/
.banner-and-category {
	height: 500px;
	width: 100%;
	min-width: 982px;  /*990*/
	position: relative;
}

.banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.slider-content {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.slider-pannel {
	width: 100%;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
}
.simple-banner {
	width: 1230px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.simple-banner img {
	width: 1180px;
	height: 500px;
	margin: 0 auto;
	display: block;
}
.slider-wraper-1 {
	position: relative;
	width: 1120px;
	height: 500px;
}
.slider-wraper-2 {
	position: relative;
	width: 1230px;    /*因为加上了 vip-pannel 的100px宽和它们之间10px的间距*/
	height: 500px;
	margin: 0 auto;
	padding-right: 30px;
}
.slider-wraper-3 {
	position: relative;
	width: 1230px;
	height: 500px;
	margin: 0 auto;
	padding-right: 30px;
	overflow: hidden;
}
#slider-1 a b {
	display: block;
	width: 100%;
	height: 500px;
	background: url(../../img/tmall/banner/banner-1.jpg) 0 0 no-repeat;
}
#slider-3 a b {
	display: block;
	width: 100%;
	height: 500px;
	background: url(../../img/tmall/banner/banner-3.jpg) 0 0 no-repeat;
}
#slider-5 a b {
	display: block;
	width: 100%;
	height: 500px;
	background: url(../../img/tmall/banner/banner-5.jpg) 0 0 no-repeat;
}
#slider-6 a b {
	display: block;
	width: 100%;
	height: 500px;
	background: url(../../img/tmall/banner/banner-6.jpg) 0 0 no-repeat;
}
.small-banner {
	display: block;
	width: 220px;
	height: 235px;
	position: absolute;
	margin-bottom: 10px;
	right: 0;
	vertical-align: middle;
}
.small-banner img {	width: 220px; height: 235px;}
.sb1,.sb3,.sb5,.sb7 { top: 10px;}
.sb2,.sb4,.sb6,.sb8 { bottom: 0;}

#slider-1 {	opacity: 1;	display: block;	z-index: 1; background-color: #ff7791;}
#slider-2 {	opacity: 0;	display: none;	z-index: 0; background-color: #e8e8e8;}
#slider-3 {	opacity: 0;	display: none;	z-index: 0; background-color: #220000;}
#slider-4 {	opacity: 0;	display: none;	z-index: 0; background-color: #ebebeb;}
#slider-5 {	opacity: 0;	display: none;	z-index: 0; background-color: #0c62d2;}
#slider-6 {	opacity: 0;	display: none;	z-index: 0; background-color: #ebbc2a;}

.slider-nav {
	text-align: center;
	display: block;
	position: absolute;
	z-index: 3;
	width: 100%;
	bottom: 13px;
	left: 0;
}
.slider-nav li {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 11px;
	margin-left: 10px;
	padding: 2px;
	background: url(../../img/tmall/banner/nav-li.png) no-repeat;
	cursor: pointer;
	transition: background 0.2s;
}
.slider-nav li.selected {
	background: url(../../img/tmall/banner/nav-li-selected.png) no-repeat;
}
#vip-pannel-wraper {
	width: 1230px;
	height: 0;
/*	background-color: red;
	z-index: 3;*/
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: -615px;
}
#vip-pannel-wraper .vip-pannel {
	width: 100px;
	height: 480px;
	position: absolute;
	right: 18px;
	top: 10px;
	background-color: rgba(0,0,0,.5);
	z-index: 3;
	transition: background-color .2s;
}
#vip-pannel-wraper .vip-pannel:hover {
	background-color: rgba(0,0,0,.8);
}
.vip-pannel .avatar-icon {
	width: 100%;
	height: 90px;
	overflow: hidden;
	background: url(../../img/tmall/banner/vip-pannel-avavtar.png) center center no-repeat;
}
.vip-pannel .login-info {
	color: #fff;
	width: 80px;
	height: 83px;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.vip-pannel .login-info a {
	color: #fff;
	display: block;
}
.vip-pannel .login-info a:hover,.vip-pannel .more-info a:hover {
	text-decoration: underline;
}
.vip-pannel .login-info .login-button {
	height: 24px;
	background-color: #dd2727;
	line-height: 23px;
	border-radius: 12px;
	margin: 9px auto 6px;
}
.vip-pannel .seprate {
	width: 80px;
	margin: 0 auto;
	height: 0;
	border-bottom: 1px dashed rgba(0,0,0,.3);
}
.vip-pannel .more-info { margin-top: 20px; height: 128px;}
.vip-pannel .more-info li,.more-info a{
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.vip-pannel .more-info li {
	height: 22px;
	line-height: 22px;
}
.vip-pannel .more-info a {
	display: block;
	margin-top: 10px;
}
.vip-pannel .recommends {
	height: 154px;
	color: #fff;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.vip-pannel .recommends .recommends-title {
	height: 24px;
	line-height: 24px;
	background-color: rgba(0,0,0,.15);
}
.recommends a {
	color: #fff;
}
.recommends a img {
	width: 57px;
	height: 57px;
	margin: 17px auto 7px;
	display: block;
	border-radius: 28px;
	vertical-align: middle;
}
.recommends a div { margin-bottom: 5px; }
/*banner 结束，category开始*/
.category-wraper {
	height: 0;   /*重要，然后对下面的导航菜单使用绝对定位，不占空间*/
	width: 1230px;
	margin: 0 auto;
	padding-right: 30px;
	position: relative;
}
.category {
	position: absolute;
	z-index: 4;
	height: 0;
	width: 982px;
	/*background-color: lightgreen;*/
}
.category-title {
	width: 200px;
	height: 36px;
	background-color: #c60a0a;
	color: #fff;
	position: absolute;
	left: 0;
	top: -36px;
}
.category-title span {
	font-size: 16px;
	font-family: "Microsoft YaHei";
	display: block;
	height: 36px;
	width: 200px;
	line-height: 36px;
	font-weight: 700;
	padding-left: 28px;
	margin-left: 14px;
	background: url(../../img/tmall/category/head-title.png) no-repeat left center;
}
.category-list {
	width: 200px;
	height: 500px;
	margin-right: 0;
	/*overflow: hidden;*/
	background-color: rgba(238,238,238,0.95);
	position: relative;
}
.category-list b {
	display: block;
	width: 24px;
	height: 14px;
	position: absolute;
	top: 486px;
	left: 200px;
	z-index: 0;
	background: url(../../img/tmall/banner/ad-icon.png) no-repeat 0 0;
}
.category-list li{
	width: 162px;
	height: 31.2px;
	line-height: 31.2px;
	color: #000;
	overflow: hidden;
	position: relative;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	padding-left: 38px;
	background-repeat: no-repeat;
	background-position: 13px 8px;
}
.category-list li a { color: #000; }
.category-list li:hover,.hoverli {
	background-color: #fff;
}

.category-list li:hover a {
	font-weight: bold;
}
.category-list #c1 {
	background-image: url(../../img/tmall/category/1.png);
}
.category-list #c1:hover {
	color: #e54077; 
	background-image: url(../../img/tmall/category/1-2.png);
}
.category-list #c1:hover a{
	color: #e54077;
}
.category-list #c2 {
	background-image: url(../../img/tmall/category/2.png);
}
.category-list #c2:hover {
	color: #427def;
	background-image: url(../../img/tmall/category/2-2.png);
}
.category-list #c2:hover a {
	color: #427def;
}
.category-list #c3 {
	background-image: url(../../img/tmall/category/3.png);
}
.category-list #c3:hover {
	color: #6347ed;
	background-image: url(../../img/tmall/category/3-2.png);
}
.category-list #c3:hover a {
	color: #6347ed;
}
.category-list #c4 {
	background-image: url(../../img/tmall/category/4.png);
}
.category-list #c4:hover {
	color: #e54077;
	background-image: url(../../img/tmall/category/4-2.png);
}
.category-list #c4:hover a {
	color: #e54077;
}
.category-list #c5 {
	background-image: url(../../img/tmall/category/5.png);
}
.category-list #c5:hover {
	color: #6347ed;
	background-image: url(../../img/tmall/category/5-2.png);
}
.category-list #c5:hover a {
	color: #6347ed;
}
.category-list #c6 {
	background-image: url(../../img/tmall/category/6.png);
}
.category-list #c6:hover {
	color: #427def;
	background-image: url(../../img/tmall/category/6-2.png);
}
.category-list #c6:hover a {
	color: #427def;
}
.category-list #c7 {
	background-image: url(../../img/tmall/category/7.png);
}
.category-list #c7:hover {
	color: #fa5c5c;
	background-image: url(../../img/tmall/category/7-2.png);
}
.category-list #c7:hover a {
	color: #fa5c5c;
}
.category-list #c8 {
	background-image: url(../../img/tmall/category/8.png);
}
.category-list #c8:hover {
	color: #f7a831;
	background-image: url(../../img/tmall/category/8-2.png);
}
.category-list #c8:hover a {
	color: #f7a831;
}
.category-list #c9 {
	background-image: url(../../img/tmall/category/9.png);
}
.category-list #c9:hover {
	color: #f7a831;
	background-image: url(../../img/tmall/category/9-2.png);
}
.category-list #c9:hover a {
	color: #f7a831;
}
.category-list #c10 {
	background-image: url(../../img/tmall/category/10.png);
}
.category-list #c10:hover {
	color: #427def;
	background-image: url(../../img/tmall/category/10-2.png);
}
.category-list #c10:hover a {
	color: #427def;
}
.category-list #c11 {
	background-image: url(../../img/tmall/category/11.png);
}
.category-list #c11:hover {
	color: #dd2727;
	background-image: url(../../img/tmall/category/11-2.png);
}
.category-list #c11:hover a {
	color: #dd2727;
}
.category-list #c12 {
	background-image: url(../../img/tmall/category/12.png);
}
.category-list #c12:hover {
	color: #427def;
	background-image: url(../../img/tmall/category/12-2.png);
}
.category-list #c12:hover a {
	color: #427def;
}
.category-list #c13 {
	background-image: url(../../img/tmall/category/13.png);
}
.category-list #c13:hover {
	color: #f7a831;
	background-image: url(../../img/tmall/category/13-2.png);
}
.category-list #c13:hover a {
	color: #f7a831;
}
.category-list #c14 {
	background-image: url(../../img/tmall/category/14.png);
}
.category-list #c14:hover {
	color: #3bc7b0;
	background-image: url(../../img/tmall/category/14-2.png);
}
.category-list #c14:hover a {
	color: #3bc7b0;
}
.category-list #c15 {
	background-image: url(../../img/tmall/category/15.png);
}
.category-list #c15:hover {
	color: #dd2727;
	background-image: url(../../img/tmall/category/15-2.png);
}
.category-list #c15:hover a {
	color: #dd2727;
}
.category-list #c16 {
	background-image: url(../../img/tmall/category/16.png);
}
.category-list #c16:hover {
	color: #3bc7b0;
	background-image: url(../../img/tmall/category/16-2.png);
}
.category-list #c16:hover a {
	color: #3bc7b0;
}
.category .category-detail {
	width: 852px;
	height: 0;
	position: absolute;
	top: 0;
	left: 200px;
}
.category-detail-box {
	width: 852px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	display: none;
	overflow: hidden;
}
.detail-box-left {
	width: 583px;
	height: 462px;
	float: left;
	margin: 19px 30px;
	overflow: hidden;
}
.detail-box-right {
	width: 189px;
	height: 480px;
	padding: 10px;
	float: left;
	overflow: hidden;
	background-color: #fafafa;
	position: relative;
}

.detail-box-left dl {
	margin-top: -10px;
}
.detail-box-left dt {
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 2px;
	color: #333;
	font-weight: 700;
	font-family: "Microsoft Yahei";
	position: absolute;
	margin-top: 10px;
}
.detail-box-left dt b {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../../img/tmall/category/arrow.png) no-repeat;
}
.detail-box-left dd {
	padding-left: 90px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dashed #ddd;
}
.detail-box-left dd:after {
	content: "";
	display: block;
	clear: both;
}
.detail-box-left dd a {
	height: 22px;
	line-height: 22px;
	float: left;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	margin-left: 13px;
	color: #666;
}

#detail-box-1 a:hover {	color: #e54077;}
.detail-box-left dd .detail-hot-1 { color: #e54077; }
#detail-box-2 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-2 { color: #427def; }
#detail-box-3 a:hover {	color: #6347ed;}
.detail-box-left dd .detail-hot-3 { color: #6347ed; }
#detail-box-4 a:hover {	color: #e54077;}
.detail-box-left dd .detail-hot-4 { color: #e54077; }
#detail-box-5 a:hover {	color: #6347ed;}
.detail-box-left dd .detail-hot-5 { color: #6347ed; }
#detail-box-6 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-6 { color: #427def; }
#detail-box-7 a:hover {	color: #e54077;}
.detail-box-left dd .detail-hot-1 { color: #e54077; }
#detail-box-8 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-2 { color: #427def; }
#detail-box-9 a:hover {	color: #6347ed;}
.detail-box-left dd .detail-hot-3 { color: #6347ed; }
#detail-box-10 a:hover {	color: #e54077;}
.detail-box-left dd .detail-hot-4 { color: #e54077; }
#detail-box-11 a:hover {	color: #6347ed;}
.detail-box-left dd .detail-hot-5 { color: #6347ed; }
#detail-box-12 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-6 { color: #427def; }
#detail-box-13 a:hover {	color: #6347ed;}
.detail-box-left dd .detail-hot-5 { color: #6347ed; }
#detail-box-14 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-6 { color: #427def; }
#detail-box-15 a:hover {	color: #e54077;}
.detail-box-left dd .detail-hot-1 { color: #e54077; }
#detail-box-16 a:hover {	color: #427def;}
.detail-box-left dd .detail-hot-2 { color: #427def; }

.detail-box-right .right-logo {
	float: left;
	width: 73px;
	margin-right: 1px;
	margin-bottom: 1px;
	height: 37px;
	padding: 5px 10px;
	overflow: hidden;
	background-color: #fff;
}
.detail-box-right .right-logo img {
	width: 73px;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}
.right-bottom-logo {
	display: block;
	/*float: left;*/
	position: absolute;
	left:10px;
	bottom: 10px;
	width: 189px;
	height: 87px;
	border-top: 10px solid #fafafa;
	background-color: #fff;
}
.right-bottom-logo img {
	width: 189px;
	height: 87px;
	vertical-align: middle;
}
/*Banner导航结束，热门品牌开始*/
#content {
	background-color: #f5f5f5;
	width: 100%;
	min-width: 982px;  /*990*/
	overflow: hidden; 
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd;
}
.hotbrand {
	height: 436px;
	margin-top: 60px;
}
.hotbrand .live-cont {
	width: 488px;
	height: 436px;
	float: left;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.live-cont .live-cont-mask {
	width: 488px;
	height: 436px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,.2);
	opacity: 0;
	transition: opacity .2s;
}
.hotbrand .live-cont:hover .live-cont-mask{ opacity: 1; }
.hotbrand .brandlist {
	width: 732px;
	height: 100%;
	float: right;
	overflow: hidden;
	margin-right: -1px;
	position: relative;
}
.live-cont .live-play-cont {
	width: 488px;
	height: 275px;
	background: #ddd;
}
.brandlist li {
	width: 121px;
	height: 108px;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	position: relative;
	background-color: #fff;
}
.brandlist li img {
	height: 50px;
	width: 82%;
	margin-top: 29px;
}
.brandlist li .brand-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 121px;
	height: 108px;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	transition: opacity .3s ease-out;
}
.brandlist li:hover .brand-mask {
	opacity: 1;
}
.brand-mask b {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: url(../../img/tmall/hotbrand/focus-white.png) no-repeat 0 0;
}
.brand-mask b:hover {
	background: url(../../img/tmall/hotbrand/focus-red.png) no-repeat 0 0;
}
.brand-mask span {
	color: #fff;
	font-family: "Microsoft YaHei";
	height: 80px;
	line-height: 80px;
}
.brand-mask a {
	display: block;
	font-family: "Microsoft YaHei";
	width: 63px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	background-color: #ff0000;
	color: #fff;
	border-radius: 9px;
	position: absolute;
	left: 29px;
	top: 60px;
}
.brand-mask a:hover {  background-color: #cf000f; color: #ccc;}
.brandrefresh a {
	display: block;
	width: 121px;
	height: 108px;
	position: absolute;
	right: 1px;
	bottom: 1px;
	background-color: #fff;
	transition: all .3s;
}
.brandrefresh a:hover b { 
	background: url(../../img/tmall/hotbrand/refresh-white.png) 0 0 no-repeat; 
	transform: rotate(360deg);
}
.brandrefresh a:hover { background-color: #dd2727; }
.brandrefresh a:hover p {
	color: #fff;
}
.brandrefresh a b {
	display: block;
	width: 40px;
	height: 40px;
	margin: 28px auto 0;
	background: url(../../img/tmall/hotbrand/refresh-grey.png) 0 0 no-repeat;
	transition: transform .6s;
}
.brandrefresh a p {
	text-align: center;
	color: #bbb;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	font-weight: 300;
	margin-top: -6px;
}
/*hotbrand 结束 ,hotchannel 开始*/
.hotchannel {
	margin: 30px auto 0;
	height: 577px;
}
.hotchannel-body {
	width: 1240px;
	margin-right: -10px;
}
.hotchannel .channel-column {
	width: 238px;
	height: 476px;
	margin-right: 10px;
	text-align: center;
	float: left;
	border-bottom: 1px solid transparent;
	background-color: #fff;
}
.hotchannel-banner {
	margin-top: 10px;
	height: 90px;
	overflow: hidden;
	background-color: lightblue;
}
.hotchannel-banner img {
	margin-left: -165px;
}
.column-title {
	width: 238px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	background-color: #dd2727;
	font-family: "Microsoft YaHei";
}
.column-title b {
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
	right: 5px;
}
#channel-1 b {
	background: url(../../img/tmall/hotchannel/1.png) 0 0 no-repeat;
}
#channel-2 b {
	background: url(../../img/tmall/hotchannel/2.png) 0 0 no-repeat;
}
#channel-3 b {
	background: url(../../img/tmall/hotchannel/3.png) 0 0 no-repeat;
}
#channel-4 b {
	background: url(../../img/tmall/hotchannel/4.png) 0 0 no-repeat;
}
#channel-5 b {
	background: url(../../img/tmall/hotchannel/5.png) 0 0 no-repeat;
}
.channel-item {
	display: block;
	width: 238px;
	height: 220px;
	overflow: hidden;
	font-family: "Microsoft YaHei";
}
.channel-item h4 {
	width: 100%;
	font-size: 22px;
	height: 24px;
	line-height: 24px;
	margin-top: 19px;
	font-weight: 500;
	color: #000;
}
.channel-item p {
	color: #888;
	margin-top: 5px;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
}
.channel-item-seprate { 
	height: 1px;
	width: 200px;
	background-color: #eee;
	margin: 0 auto;
}
.item-img {
	width: 140px;
	height: 140px;
	margin: 9px auto 0;
	position: relative;
	vertical-align: middle;
	text-align: center;
}
.item-img .img-bg {
	width: 140px;
	height: 140px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .03;
	border-radius: 70px;
	z-index: 2;
}
.item-img img {
	width: 95%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);  /*这种定位为了做微型放大动画，保持图片中心位置不变*/
	transition: width .3s;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	-o-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	-o-transition: width .3s;
	-ms-transition: width .3s;
}
.channel-item:hover img { width: 104%; }

/*@group page components 页面组件-----------------------------*/
/*右侧边栏*/
#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	width: 35px;
	z-index: 10;
}
#top-part {
	position: relative;
	width: 35px;
	height: 358px;
	z-index: 7;
}
#bottom-part {
	width: 35px;
	height: 105px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 8;
}
#bgcolor {
	width: 35px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 6;
}
#sidebar .top-small-box {
	width: 35px;
	height: 35px;
	margin: 8px 0;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#sidebar .top-small-box:hover {
	background-color: #c40000;
}
#sidebar #top-cart {
	width: 35px;
	height: 100px;
	margin: 8px 0;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#sidebar #top-cart:hover {
	background-color: #c40000;
}
#sidebar #top-cart:hover #cart-icon {
	background: url(../../img/tmall/right-sidebar/top-white.png) 0 0 no-repeat;
}
#top-cart #cart-icon {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 10px;
	background: url(../../img/tmall/right-sidebar/top.png) 0 0 no-repeat;
}
#top-cart #cart-text {
	width: 20px;
	height: 50px;
	position: absolute;
	left: 7px;
	top: 40px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-family: "Microsoft YaHei";
}
#top-cart #cart-border {
	height: 98px;
	width: 25px;
	position: absolute;
	left: 5px;
	top: 0;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}
#bottom-part .bottom-small-box {
	width: 35px;
	height: 35px;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#bottom-part .bottom-small-box:hover {
	background-color: #c40000;
}
#bottom1 {
	background: url(../../img/tmall/right-sidebar/bottom-1.png) 0 0 no-repeat;
}
#bottom2 {
	background: url(../../img/tmall/right-sidebar/bottom-2.png) 0 0 no-repeat;
}
#bottom {
	background: url(../../img/tmall/right-sidebar/bottom.png) 0 0 no-repeat;
}
#sidebar .box-tip {
	width: 90px;
	height: 35px;
	position: absolute;
	right: 70px;
	top: -1px;
	color: #fff;
	background-color: #494949;
	text-align: center;
	line-height: 35px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	font-family: "Microsoft YaHei";
	opacity: 0;
	display: none;
}
.box-tip .box-tip-arrow {
	display: block;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	left: 90px;
	top: 12px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #494949;
}
#qrcode-tip {
	width: 155px;
	height: 207px;
	position: absolute;
	top: -161px;
	right: 33px;
	background-image: url(../../img/tmall/right-sidebar/bottom-qrcode.png);
	background-repeat: no-repeat;
	display: none;
}
#qrcode-tip-arrow {
	display: block;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 175px;
	right: -3px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #f53b31;
}
.not-see {
	left: 35px;
}
/*右侧边栏结束，顶部搜索框开始*/
#top-searchbar {
	width: 100%;
	height: 50px;
	position: fixed;
	top: -50px;
	z-index: 5;
	transition: top .3s ease-out;
}
.top-shelter {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #dd2727;
	opacity: .9;
}
.top-searchbar-wrap {
	height: 50px;
	position: relative;
}
.top-searchbar-wrap b {
	display: block;
	width: 150px;
	height: 28px;
	background: url(../../img/tmall/tmall.png) center center no-repeat;
	position: absolute;
	left: 0;
	top: 11px;
}
.top-searchbar-wrap #top-search {
	width: 740px;
	height: 30px;
	margin: 12px auto 8px;
	position: relative;
	font-size: 0;
}
#top-search input {
	width: 640px;  /*503px*/
	height: 20px;
	line-height: 20px;
	padding: 5px 3px 5px 5px;
	font-weight: 900;
	border-radius: 2px 0 0 2px;
}
#top-search label {
	position: absolute;
	left: 8px;
	top: 0;
	color: #666;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
#top-search button {
	width: 90px;
	font-size: 16px;
	letter-spacing: 4px;
	cursor: pointer;
	color: #fff;
	background-color: #c40000;
	overflow: hidden;
	font-family: "Microsoft YaHei";
	border: 0;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 0;
}

/*顶部搜索框结束，floor开始*/
.floor-cont {
	margin-top: 30px;
	width: 100%;
	height: 470px;
	position: relative;
	overflow: hidden;
}
.floor-cont b {
	display: inline-block;
	width: 5px;
	height: 20px;
	vertical-align: top;
}
#floor-1 b { background-color: #f7a945; }
#floor-2 b { background-color: #19C8A9; }
#floor-3 b { background-color: #F15453; }
#floor-4 b { background-color: #64C333; }
#floor-5 b { background-color: #0AA6E8; }
#floor-6 b { background-color: #EA5F8D; }

#floor-1 .title-con { 	background-color: #f7a945; }
#floor-2 .title-con { background-color: #19C8A9; }
#floor-3 .title-con { background-color: #F15453; }
#floor-4 .title-con { background-color: #64C333; }
#floor-5 .title-con { background-color: #0AA6E8; }
#floor-6 .title-con { background-color: #EA5F8D; }

#floor-1 .item-box-1 p.sub-title,
#floor-1 .item-box-2 p.sub-title {color: #f7a945;}
#floor-2 .item-box-1 p.sub-title,
#floor-2 .item-box-2 p.sub-title {color: #19C8A9;}
#floor-3 .item-box-1 p.sub-title,
#floor-3 .item-box-2 p.sub-title,
#floor-3 .item-box-3 p.sub-title {color: #F15453;}
#floor-4 .item-box-1 p.sub-title,
#floor-4 .item-box-2 p.sub-title {color: #64C333;}
#floor-5 .item-box-1 p.sub-title,
#floor-5 .item-box-2 p.sub-title,
#floor-5 .item-box-4 p.sub-title {color: #0AA6E8;}
#floor-6 .item-box-1 p.sub-title,
#floor-6 .item-box-2 p.sub-title {color: #EA5F8D;}

.floor-cont .floor-name {
	display: inline-block;
	font-size: 18px;
	color: #000;
	line-height: 18px;
	height: 18px;
	margin-left: 10px;
	font-family: "Microsoft YaHei";
}
.floor-cont .floor-sub-name {
	display: inline-block;
	font-size: 14px;
	color: #000;
	margin-left: 10px;
	line-height: 24px;
	height: 18px;
	font-family: "Microsoft YaHei";
}
.floor-cont .hot-word-cont {
	position: absolute;
	top: 0;
	right: 0;
	width: 800px;
	text-align: right;
}
.floor-cont .hot-word-cont .hot-word {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 5px 10px;
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	color: #000;
	font-family: "Microsoft YaHei";
}
.floor-cont .hot-word-cont .hot-word:hover { border-bottom: 1px solid #000; }
.floor-main-box {
	width: 100%;
	height: 440px;
	margin-top: 10px;
}
.big-banner-con {
	position: relative;
	float: left;
	width: 246px;
	height: 440px;
	font-family: "Microsoft YaHei";
}
.big-banner-con:hover img { opacity: 0.82; }
.big-banner-con:hover .slide-item {
	color: #dd2727;
}
.big-banner-con img {
	display: block;
	width: 100%;
	height: 330px;
	transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}
.big-banner-con .act-title {
	position: absolute;
	bottom: 110px;
	height: 30px;
	width: 100%;
	background: rgba(255,255,255,.8);
	overflow: hidden;
	font-family: "Microsoft YaHei";
}
.big-banner-con .act-title .slide-item {
	height: 30px;
	width: 100%;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
}
.big-banner-con .title-con {
	height: 110px;
	width: 100%;
	overflow: hidden;
	color: #fff;
	position: relative;
}
.big-banner-con .title-con .title {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
	font-size: 22px;
}
.big-banner-con .title-con .sub-title {
	width: 100%;
	text-align: center;
	font-size: 18px;
}
.big-banner-con .title-con .decoration {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: url(../../img/tmall/floor/bg.png) center 0 no-repeat;
}
.middle-column-con {
	width: 735px;
	height: 440px;
	float: left;
}
.middle-column-con .item-box-1 {
	width: 244px;
	height: 220px;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
	background-color: #fff;
	font-family: "Microsoft YaHei";
	color: #000;
}
.right-column-con .item-box-1 {
	width: 248px;
	height: 220px;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
	background-color: #fff;
	font-family: "Microsoft YaHei";
	color: #000;
}
.item-box-1 p.title,.item-box-2 p.title,.item-box-3 p.title {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 220px;
	font-size: 18px;
	line-height: 24px;
	height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}
.item-box-1 p.sub-title,.item-box-2 p.sub-title,.item-box-3 p.sub-title {
	position: absolute;
	top: 54px;
	left: 25px;
	width: 220px;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}
.item-box-1 img {
	width: 154px;
	height: 154px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
}
.item-box-1:hover img { right: 6px; }

.right-column-con {
	float: left;
	width: 248px;
	height: 440px;
}
.item-box-2 {
	width: 248px;
	height: 146px;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
	background-color: #fff;
	color: #000;
	font-family: "Microsoft YaHei";
}
.item-box-2 img {
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
}
.item-box-2:hover img { right: 6px; }
.item-box-3 {
	width: 248px;
	height: 109.5px;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
	background-color: #fff;
	color: #000;
	font-family: "Microsoft YaHei";
}
.item-box-3 img {
	width: 109px;
	height: 109px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
}
.item-box-3:hover img { right: 6px; }

.item-box-4 p.title {
	width: 260px;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	position: absolute;
	top: 45px;
	left: 45px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}
.item-box-4 p.sub-title {
	width: 260px;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	top: 105px;
	left: 45px;
	position: absolute;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 2;
}
.item-box-4 {
	width: 489px;
	height: 220px;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
	background-color: #fff;
	color: #000;
	font-family: "Microsoft YaHei";
}
.item-box-4 img {
	width: 195px;
	height: 195px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
}
.item-box-4:hover img { right: 6px; }

/*floor结束，左侧边栏开始*/
#left-sidebar {
	width: 0;  /*36px*/
	height: 0;  /*335px*/
	position: fixed;
	bottom: 15px;
	left: 50%;
	margin-left: -673px;
	z-index: 8;
	overflow: hidden;
	transition: all .3s ease-out;
}
#left-sidebar .left-sidebar-header {
	position: relative;
	width: 36px;
	height: 36px;
	background-color: #dd2727;
	line-height: 36px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	margin-top: 1px;
	font-family: "Microsoft YaHei";
}
.left-sidebar-content a {
	position: relative;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 12px;
	padding: 6px;
	text-align: center;
	color: #fff;
	font-family: "Microsoft YaHei";
	margin-top: 1px;
	background-color: rgba(0,0,0,.6);
	overflow: hidden;
	font-size: 12px;
}
.left-sidebar-return {
	position: relative;
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin-top: 1px;
	width: 24px;
	height: 24px;
	background-color: rgba(0,0,0,.3);
	font-family: "Microsoft YaHei";
	font-size: 12px;
	line-height: 12px;
	padding: 6px;
}
.left-sidebar-return b {
	display: block;
	width: 24px;
	height: 12px;
	background: url(../../img/tmall/back.png) center center no-repeat;
}
.left-sidebar-return:hover { background-color: rgba(0,0,0,.6); }
.left-sidebar-content #side-nav-1:hover a { background-color: #f7a945; }
.left-sidebar-content #side-nav-2:hover a { background-color: #19C8A9; }
.left-sidebar-content #side-nav-3:hover a { background-color: #F15453; }
.left-sidebar-content #side-nav-4:hover a { background-color: #64C333; }
.left-sidebar-content #side-nav-5:hover a { background-color: #0AA6E8; }
.left-sidebar-content #side-nav-6:hover a { background-color: #EA5F8D; }

#side-nav-1 .current-area { background-color: #f7a945; }
#side-nav-2 .current-area { background-color: #19C8A9; }
#side-nav-3 .current-area { background-color: #F15453; }
#side-nav-4 .current-area { background-color: #64C333; }
#side-nav-5 .current-area { background-color: #0AA6E8; }
#side-nav-6 .current-area { background-color: #EA5F8D; }

/*左侧边栏结束，footer 开始*/
footer {
	text-align: center;
}
#tmall-ensure {
	height: 100px;
	margin: 25px auto;
	background-image: url(../../img/tmall/tmall-ensure-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tmall-desc {
	width: 1190px;
	height: 190px;
	padding-right: 30px;
	padding-top: 22px;
	margin: auto;
	border-top: 1px solid #ededed;
	background: url(../../img/tmall/footer-logo.jpg) no-repeat 45px bottom;
}
#tmall-desc dl {
	float: left;
	width: 186px;
	padding-left: 52px;
	font-family: "Microsoft YaHei";
}
#tmall-desc dl dt {
	color: #646464;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
#tmall-desc dl dd {
	text-align: left;
}
#tmall-desc dd a {
	display: block;
	width: 100px;
	overflow: hidden;
	text-align: left;
	height: 20px;
	line-height: 20px;
	color: #8b8b8b;
	font-family: "Microsoft YaHei";
}
#desc-5 dd a {
	width: 105px;
	height: 105px;
	line-height: 105px;
	text-align: center;
	display: block;
}
#tmall-copyright {
	background-color: #000;
	text-align: left;
	min-height: 177px;
	border-top: 2px solid #c40000;
	padding-bottom: 18px;
}
.copyright-cont {
	width: 1190px;
	margin: 0 auto;
}
.footer-tmallinfo {
	padding: 5px 0;
	line-height: 25px;
	color: #fff;
	text-align: left;
}
.footer-tmallinfo a {
	margin-right: 3px;
	color: #fff;
	font-family: "Microsoft YaHei";
}
.footer-otherlink {
	line-height: 25px;
	color: #fff;
	padding: 5px 0;
	text-align: left;
	font-family: "Microsoft YaHei";
}
.footer-otherlink a {
	margin-right: 3px;
	color: #fff;
}
.footer-copyright {
	padding-top: 10px;
	padding: 5px 0;
	line-height: 20px;
	color: #a4a4a4;
	text-align: left;
	font-family: "Microsoft YaHei";
}
.footer-copyright img {
	margin-right: 10px;
	display: inline-block;
	margin-top: 10px;
}
/*@group overrides 覆盖----------------------------- 