/*重置样式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {margin: 0;padding: 0;}
body {font-size: 12px; color: #999;}
img {border: none;}
ol,ul,li {list-style: none;}
input,select,textarea {outline: none;border: none;}
textarea {resize: none;}
a {text-decoration: none;color: #999;}
em {font-style: normal;}

.clearfix {zoom: 1;}
.clearfix:after {display: block;clear: both;content: "";}
.fl {float: left;}
.fr {float: right;}

body,button,input,select,textarea {
	font: 12px/1.5 arial;
}
.hide {
	display: none;
}
.show {
	display: block;
}
/*@group general styles 一般性样式-----------------------------*/
#sn-content a:hover,#sn-content .sn-quick-menu .sn-cart a:hover .cart-count {
	color: #c40000;
}
.sn-mytaobao #mytaobao-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-favorite #favorite-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-seller #seller-cm a:hover {
	color: #c40000;
	text-decoration: underline;
}
.sn-menu:hover {
	background: #fff;
	height: 33px;
}
#header-search .hot-query a:hover {
	color: #c40000;
}
.sn-mytaobao .sn-menu:hover .menu-cm,.sn-favorite .sn-menu:hover .menu-cm,.sn-seller .sn-menu:hover .menu-cm {
	display: block;
}
.sn-sitemap .sn-menu:hover #sitemap {
	display: block;
}

.sn-mobile:hover .sn-qrcode {
	display: block;
}
#sitemap .sitemap-icon {
	position: absolute;
	top: -7px;
	right: -9px;
	width: 9px;
	height: 11px;
	overflow: hidden;
	background: url(../../img/tmall/icon/icon2.png) no-repeat -9999px -9999px;
}
#sitemap .sitemap-icon-new {
	background-position: -37px -11px;
}
#sitemap .sitemap-icon-hot {
	background-position: -37px 0;
}
/*辅助样式：当浏览器页面宽度缩小到1260px以下时---------------------------*/
/*
#sn-wraper { width: 982px; left: 0; }
#header-search { width: 410px; }
#mq { width: 276px; }
.header-wraper { width: 990px; left: 0; }

*/

/*@group page structure 页面结构-----------------------------*/
/*顶部导航*/
#site-nav {
	font-family: "Microsoft YaHei",arial,sans-serif;
	height: 32px;
	min-width: 990px;
	width: auto;
	background: #f2f2f2;
	color: #999;
	border-bottom: 1px solid #e5e5e5;
}
#sn-wraper {
	width: 1230px;
	height: 32px;
	margin: 0 auto;
	/*background: lightgreen;*/
	position: relative;
	left: -15px;
}
#sn-content {
	width: 100%;
	height: 32px;
}
#sn-content .sn-login-info {
	height: 32px;
	width: 218px;
	line-height: 32px;
	position: relative;
}
#sn-content .sn-login-info em {
	float: left;
}
#sn-content .sn-login-info .sn-login {
	padding: 0 10px 0 20px;
	float: left;
}
#sn-content .sn-login-info .sn-register {
	padding: 0 10px;
	float: left;
}
#sn-content .sn-quick-menu {
	width: 696px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: 0;
	right: 0;
}
#sn-content .sn-quick-menu li {
	float: left;
}
#sn-content .sn-quick-menu .menu-mt {
	padding: 0 14px 0 10px;
	display: inline-block;
	height: 32px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	/*position: relative;*/
}
#sn-content .sn-quick-menu .menu-mt b {
	position: absolute;
	top: 15px;
	right: 6px;
	font-size: 0;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 3px solid #bbb;
}
#sn-content .sn-quick-menu a.menu-mt:hover  {
	text-decoration: underline;
}
#sn-content .sn-quick-menu .sn-separator {
	width: 0;
	height: 14px;
	line-height: 14px;
	border-left: 1px solid #ccc;
	margin: 9px 2px 0 5px;
}
.sn-quick-menu .sn-mybrand,.sn-quick-menu .sn-cart,.sn-quick-menu .sn-mobile,.sn-quick-menu .sn-home,.sn-quick-menu .sn-b {
	padding: 0 10px;
}
#sn-content .sn-quick-menu .sn-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 32px;
	margin-right: 4px;
	position: relative;
	top: 1px;
}
.mybrand-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 0;
}
.cart-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -12px;
}
.mobile-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -24px;
}
.sitemap-icon {
	background: url(../../img/tmall/icon/nav-icon.png) 0 -36px;
}
#sn-content .sn-quick-menu .sn-sitemap h3 {
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
#sn-content .sn-quick-menu .sn-cart .cart-count {
	color: #666;
	padding: 0 2px;
	font-weight: 700;
	font-family: Arial;
}
#sn-content .sn-quick-menu .menu-cm {
	padding: 8px 10px;
	background: #fff;
	z-index: 2;
}
#sn-content .sn-quick-menu .sn-menu {
	position: relative;
}
.sn-mytaobao .menu-cm,.sn-favorite .menu-cm{
	position: absolute;
	border: 1px solid #eee;
	border-top: none; 
	top: 33px;
	left: 0;
	display: none;
}
.sn-seller .menu-cm {
	position: absolute;
	border: 1px solid #eee;
	border-top: none; 
	display: none;
	top: 33px;
	left: -64px;
}
.sn-mytaobao #mytaobao-cm a,.sn-favorite #favorite-cm a {
	color: #666;
	display: block;
	height: 20px;
	line-height: 20px;
}
.sn-mytaobao #mytaobao-cm a {
	width: 74px;
}
.sn-favorite #favorite-cm a {
	width: 62px;
}
.sn-seller .menu-cm a {
	display: block;
	width: 48px;
	margin-right: 20px;
	float: left;
	color: #666;
	line-height: 22px;
}
#seller-cm {
	margin-top: -5px;
}
.sn-seller .menu-cm dl {
	width: 136px;
	border-bottom: 1px dotted #827777;
	padding: 5px 0;
}
.sn-seller .menu-cm #seller-cm {
	width: 116px;
	overflow: hidden;
}
.sn-seller .menu-cm dt {
	color: #666;
	font-weight: 700;
	line-height: 1.4;
}
#sitemap {
	position: absolute;
	width: 1198px;
	padding: 25px 0;
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	top: 33px;
	right: 0;
	left: auto;
	display: none;
	z-index: 2;
}
#sitemap .site-hot {
	width: 275px;
	float: left;
}
#sitemap .site-market {
	width: 375px;
	float: left;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
#sitemap .site-brand {
	width: 270px;
	float: left;
	border-right: 1px solid #f5f5f5;
}
#sitemap .site-help,#sitemap .site-hot,#sitemap .site-market,#sitemap .site-brand {
	padding-left: 30px;
	overflow: hidden;
	height: 200px;
	line-height: 1.4;
	font-size: 12px;
}
#sitemap h2 {
	font-size: 16px;
	padding-bottom: 8px;
	font-weight: 500;
}
#sitemap h2 span {
	padding-left: 6px;
}
#sitemap .site-list {
	margin-right: -20px;
	overflow: hidden;

}
#sitemap .site-list li {
	width: 95px;
	float: left;
	padding: 6px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
}
#sitemap .site-list a {
	color: #666;
	position: relative;
}
#sitemap .site-hot h2 {
	color: #f56a00;
}
#sitemap .site-hot a:hover {
	color: #f56a00;
	text-decoration: underline;
}
#sitemap .site-market h2 {
	color: #2263d4;
}
#sitemap .site-market a:hover {
	color: #2263d4;
	text-decoration: underline;
}
#sitemap .site-brand h2,#sitemap .site-help h2 {
	color: #666;
}
#sitemap .site-brand a:hover,#sitemap .site-help a:hover {
	text-decoration: underline;
}
.sn-mobile {
	position: relative;
}
.sn-mobile .sn-qrcode {
	position: absolute;
	width: 175px;
	height: 227px;
	background: #fff;
	left: -48px;
	top: 26px;
	box-shadow: 0 0 5px #aaa;
	display: none;
	z-index: 2;
}
.sn-mobile .sn-qrcode-content {
	width: 175px;
	height: 175px;
	margin: 5px 0 0 0;
	background: url(../../img/tmall/icon/nav-mobile-1.png) 0 0 no-repeat;
}
.sn-mobile .sn-qrcode p {
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 15px;
	line-height: 35px;
	background: url(../../img/tmall/icon/nav-mobile-2.png) center bottom no-repeat;
}
.sn-mobile .sn-qrcode b {
	width: 0;
	height: 0;
	content: "";
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 4px solid #fff;
	position: absolute;
	top: -4px;
	left: 85px;
}
/*顶部导航End*/
/*头部*/
#header {
	height: 130px;
	width: 100%;
	min-width: 990px;
}
#header .header-wraper {
	width: 1230px;
	height: 130px;
	margin: 0 auto;
	position: relative;
	left: -15px;
}
#header #header-logo {
	width: 200px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
}
#header #header-logo img {
	position: relative;
	left: -45px;
}
#header #header-search {
	width: 625px;
	height: 64px;
	padding-top: 38px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 15px;
	overflow: hidden;
}
#header #header-search .mallSearch-form {
	position: relative;
	border: 2px solid #c40000;
	border-right: none;
}
#header-search .mallSearch-form fieldset {
	border: 0;
}
.mallSearch-form fieldset legend {
	display: none;
}
.mallSearch-form fieldset .combobox-input {
	height: 36px;
	width: 491px;
	font: 16px/22px arial;
	color: #000;
	padding: 5px 3px 5px 5px;
	box-sizing: border-box;
}
.mallSearch-form fieldset .combobox {
	position: relative;
	float: left;
}
.mallSearch-form fieldset .combobox-placeholder {
	color: #666;
	font-size: 14px;
	line-height: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 8px;
	cursor: text;
}
.mallSearch-form fieldset button {
	width: 132px;
	height: 36px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: 0;
	color: #fff;
	background-color: #c40000;
	overflow: hidden;
	font-family: "Microsoft YaHei",微软雅黑;
}
#header-search .hot-query {
	height: 18px;
	font-size: 14px;
	padding: 4px 0 0 0;
	overflow: hidden;
	width: 100%;
	margin-left: -13px;
}
#header-search .hot-query li {
	display: inline-block;
	height: 15px;
	float: left;
	margin-top: 4px;
	border-left: 1px solid #ccc;
	line-height: 1.1;
	padding: 0 12px;
	color: #ccc;
}
#header-search .hot-query .hot-query-highlight a {
	color: #c40000;
}
/*头部End*/
/*主导航*/
#main-nav {
	height: 36px;
	width: 100%;
	min-width: 990px;
	position: relative;
	background-color: #dd2727;
	line-height: 36px;
	font-family: "Microsoft YaHei";
}
#main-nav-wraper {
	width: 1230px;
	height: 36px;
	padding-right: 30px;
	margin: 0 auto;
}
#main-nav-cont {
	margin-left: 215px;	
}
#main-nav-cont a {
	height: 36px;
	padding: 0 15px;
	cursor: pointer;
	font-size: 16px;
	float: left;
	color: #fff;
	position: relative;
}
#main-nav-cont a img {
	width: 90px;
	height: 36px;
	display: block;
}
.main-nav-hover {
	background: url(../../img/tmall/main-nav-hover.png) no-repeat;
	background-size: 40px 15px;
	width: 40px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	opacity: 0;
}
/*@group page components 页面组件-----------------------------*/
/*右侧边栏*/
#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	width: 35px;
	z-index: 5
}
#top-part {
	position: relative;
	width: 35px;
	height: 358px;
	z-index: 7;
}
#bottom-part {
	width: 35px;
	height: 105px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 8;
}
#bgcolor {
	width: 35px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 6;
}
#sidebar .top-small-box {
	width: 35px;
	height: 35px;
	margin: 8px 0;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#sidebar .top-small-box:hover {
	background-color: #c40000;
}
#sidebar #top-cart {
	width: 35px;
	height: 100px;
	margin: 8px 0;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#sidebar #top-cart:hover {
	background-color: #c40000;
}
#sidebar #top-cart:hover #cart-icon {
	background: url(../../img/tmall/right-sidebar/top-white.png) 0 0 no-repeat;
}
#top-cart #cart-icon {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 10px;
	background: url(../../img/tmall/right-sidebar/top.png) 0 0 no-repeat;
}
#top-cart #cart-text {
	width: 20px;
	height: 50px;
	position: absolute;
	left: 7px;
	top: 40px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-family: "Microsoft YaHei";
}
#top-cart #cart-border {
	height: 98px;
	width: 25px;
	position: absolute;
	left: 5px;
	top: 0;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}
#bottom-part .bottom-small-box {
	width: 35px;
	height: 35px;
	background-color: #000;
	cursor: pointer;
	position: relative;
}
#bottom-part .bottom-small-box:hover {
	background-color: #c40000;
}
#bottom1 {
	background: url(../../img/tmall/right-sidebar/bottom-1.png) 0 0 no-repeat;
}
#bottom2 {
	background: url(../../img/tmall/right-sidebar/bottom-2.png) 0 0 no-repeat;
}
#bottom {
	background: url(../../img/tmall/right-sidebar/bottom.png) 0 0 no-repeat;
}
#sidebar .box-tip {
	width: 90px;
	height: 35px;
	position: absolute;
	right: 70px;
	top: -1px;
	color: #fff;
	background-color: #494949;
	text-align: center;
	line-height: 35px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	font-family: "Microsoft YaHei";
	opacity: 0;
	display: none;
}
.box-tip .box-tip-arrow {
	display: block;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	left: 90px;
	top: 12px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #494949;
}
#qrcode-tip {
	width: 155px;
	height: 207px;
	position: absolute;
	top: -161px;
	right: 33px;
	background-image: url(../../img/tmall/right-sidebar/bottom-qrcode.png);
	background-repeat: no-repeat;
	display: none;
}
#qrcode-tip-arrow {
	display: block;
	width: 0;
	height: 0;
	content: "";
	position: absolute;
	top: 175px;
	right: -3px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #f53b31;
}
.not-see {
	left: 35px;
}

/*@group overrides 覆盖-----------------------------